# Data Science Tools and Ecosystem

This is a notebook that provides a summary of Data Science Tools and Ecosystem

A few popular languages used by Data Scientists include:
    1) Python
    2) R
    3) SQL

**Objectives:** 
+ Common languages used in data science
+ Common tools used by data scientists
+ How to evaluate arithmetic expressions

A few popular libraries used by Data Scientists include:
    1) NumPy
    2) Pandas
    3) TensorFlow

| Data Science Tools |
| ------------------ |
| Hadoop             |
| Apache Spark       |
| RStudio            |

### Below are some examples of how to evaluate arithmetic expressions using Python:

In [4]:
#This is an example of how to multiply, then add integers

(3*4)+5

17

In [5]:
#This will convert 200 minutes into hours by dividing by 60

200/60

3.3333333333333335

## Author
Alec Covey